<h1>Play Online</h1>
<p>
  <a class="btn btn-primary btn-lg" href="<%= new_game_path()%>" role="button" data-ng-if="isAuthenticated">New Game</a>
</p>


<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="header" data-href="" rel="tooltip" title="">Player Name</th>
      <th class="header" data-href="" rel="tooltip" title="">Player Email</th>
      <th class="header" data-href="" rel="tooltip" title="">Game status</th>
      <th class="header" data-href="" rel="tooltip" title="">Action</th>
    </tr>
  </thead>
  <tbody>
    <%@games.each do |game|%>
      <tr >
        <td ><%= game.player%></td>
        <td ><%= game.player.try(:email)%></td>
        <td ><%= game.game_status || "Playing"%></td>
        <td ><%= game.game_status || "Playing"%></td>
      </tr>
    <%end%>
  </tbody>
</table>
